<div class='question'>
	<h1> <%= question.title %> </h1>

	<p class='body'>
		<%= question.body %>
	</p>

	<p class='tag-list'>
		<h3>Tags</h3>
		<%= render partial: "tags/list", locals: { tags: question.tags } %>
	</p>

	<p>
	  <strong>Submitted By:</strong> <%= question.user.email %>
		<% if current_user && current_user.owns?(@question) %>
			<%= link_to 'Edit', edit_question_path(@question) %>
		<% end %>
	</p>
</div>
