<p id="notice"><%= notice %></p>

<h1> <%= @question.title %> </h1> 
<p>
	<%= @question.body %>
</p>

<p>
  <strong>Submitted By:</strong> <%= @question.user.email %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back to Questions Index', questions_path %>

<%= render partial: "answers/index", locals: { answers: @question.answers } %>
