<%= render partial: "questions/question", locals: {question: @question} %>

<% if current_user && current_user.owns?(@question) %>
	<%= link_to 'Edit', edit_question_path(@question) %> |
<% end %>

<%= link_to 'Back to Questions Index', questions_path %>

<h2> Answers </h2>

<%= render partial: "answers/list", locals: { answers: @question.ranked_answers, question: @question } %>

<%= link_to 'Submit New Answer', new_question_answer_path(@question) %>