<h1><%= @user.email %></h1>

<h2> Stats </h2>

	<div>Questions Submitted: <%= @user.questions.count%></div>
	<div>Answers Elicited: <%= @user.questions.joins(:answers).select(:id).count %></div>
	<div>Answers Submitted: <%= @user.answers.count %></div>
	<div>Total Upvotes: <%= @user.answers.map(&:get_upvotes).map(&:count).reduce(:+) %></div>
	<div>Total Downvotes: <%= @user.answers.map(&:get_downvotes).map(&:count).reduce(:+) %></div>
	<div>Net Votes Score: <%= @user.answers.map(&:score).reduce(:+)%></div>

<h2> Questions Submitted </h2>

<%= render partial: "questions/list", locals: {questions: @user.questions } %>

<h2> Answers Submitted </h2>

<%= render partial: "answers/list", locals: { answers: @user.answers } %>

