<div class="answer-item">
	<div class="row"/>
    <%= render partial: "votes/votebox", locals: {answer: answer} %>
    <pre class="snippet prettyprint"><%= answer.body %></pre>
  </div>
  <div class="row">
    <p class="submitted-by"><strong>Submitted By:</strong> <%= answer.user.email %></p>
    <p class="link-box">
      <% unless "#{params[:controller]}##{params[:action]}" == "answers#show" %>
        <%= link_to 'View Comments', question_answer_path(question, answer) %>
        <%= current_user && current_user.owns?(answer) ? " | " : "" %>  
      <% end %>
      <% if current_user && current_user.owns?(answer) %>
      <%= link_to 'Edit', edit_question_answer_path(question, answer) %> | <%= link_to 'Destroy', question_answer_path(question, answer), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </p>
  </div>
</div>