<p>
  <strong>Question:</strong>
  <%= @answer.question.body %>
</p>

<p>
  <strong>Body:</strong>
  <pre class="prettyprint"><%= @answer.body %></pre>
</p>

<p>
  <strong>Submitter:</strong>
  <%= @answer.user.email %>
</p>

<%= link_to 'Edit', edit_question_answer_path(@answer) %> |
<%= link_to 'Back', question_path(@answer.question_id) %>
