<!DOCTYPE html>
<html>
  <head>
    <title>AlgosClub</title>
    <%= csrf_meta_tags %>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>
    <%= yield %>
    <%= render partial: "layouts/greeting" %>
  </body>
</html>
